@import 'tailwindcss';

html {
  box-sizing: border-box;
  background-color: rgb(236, 238, 241);
}

body {
  font-family: sans-serif;
}

#root {
  isolation: isolate;
}

:root {
  --nav-height: 67px;
}

@layer components {
  .nav-drawer-link {
    @apply no-underline flex flex-row items-center px-4 py-2 gap-4;
  }
}
@theme {
  --color-lightgray: #00000033;
  --color-muted-input: rgb(246, 248, 250);
  --color-muted-border: rgb(227, 233, 237);
  --color-offwhite: rgb(232, 231, 228);
  --color-muted-bg: rgb(236, 238, 241);
  --color-green-bg: #518265;
}
