@import 'tailwindcss';

html {
  box-sizing: border-box;
  background-color: #e6ebe6;
}

body {
  font-family: sans-serif;
  min-width: 320px;
  max-width: 650px;
  margin: 0 auto;
  background-color: rgb(236, 238, 241);
}

#root {
  isolation: isolate;
}

:root {
  --nav-height: 67px;
}

@media (min-width: 651px) {
  body {
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    min-height: 100vh;
  }
}

@layer components {
  .nav-drawer-link {
    @apply no-underline flex flex-row items-center px-4 py-2 gap-4;
  }
}
@theme {
  --color-lightgray: #00000033;
  --color-muted-input: rgb(246, 248, 250);
  --color-muted-border: rgb(227, 233, 237);
  --color-offwhite: rgb(232, 231, 228);
  --color-muted-bg: rgb(236, 238, 241);
  --color-green-bg: #518265;
  --color-darkmuted-bg: rgb(224, 227, 231);
  --color-mainbtn: rgb(40, 93, 150);
  --color-nicepurple: rgb(87, 19, 245);
}
